
<div class="container">
  <div class="row">

    <div *ngFor="let product of allgame" class="col-md-4 div coursor">
      <div class="product  my-4 shadow" >
        <a [routerLink]="['/gamedetails',product.id]" class="all-unset">
    <img  class=" card-img" src="{{product.thumbnail}}" alt="">

    <div class=" d-flex align-items-center seconde-color p-2 justify-content-between">



        <span class="text-main text-color mx-2 seconde-color card-title fw-bold font-sm p-2">{{product.title.slice(0,30)}}</span>
        <span class=" fw-bold  p-2 mx-2 badge-1 badge text-white">free</span>


        </div>

    </a>

      </div>

    </div>
    </div>
</div>
